<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} - PF{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/helpers/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/plugins/jquery-ui/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dep/jQuery-Timepicker/dist/jquery-ui-timepicker-addon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/plugins/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dep/AdminLTE/dist/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('view/app/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini sidebar-collapse layout-fixed">

<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-dark navbar-navy">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            {% for context in contextActual.getContextAll %}
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link {% if context.id is same as contextActual.getActualContext.id %}text-danger font-weight-bolder{% else %}text-muted{% endif %}">{{ context.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{ asset('img/helpers/defaultUserIcon.png') }}" class="user-image img-circle elevation-2" alt="User Image">
                    <span class="d-none d-md-inline">{% if app.user %}{{ app.user.email }}{% endif %}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                    <!-- User image -->
                    <li class="user-header bg-primary">
                        <img src="{{ asset('img/helpers/defaultUserIcon.png') }}" class="img-circle elevation-2" alt="User Image">
                        <p>
                            {% if app.user %}{{ app.user.email }}{% endif %}
                            <small>Członek od {{ app.user.getCreatedAt|date('m') }}.{{ app.user.getCreatedAt|date('Y') }}</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <a href="{{ path('app_logout') }}" class="btn btn-default float-right">Wyloguj</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="{{ asset('dep/AdminLTE/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            {{ include(app.user.getLinkToMenu) }}
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {{ include('layout/app/parts/appFooter.html.twig') }}

    {# Control Sidebar #}
    {{ include('layout/app/parts/appControlSidebar.html.twig') }}

</div>
<!-- ./wrapper -->

<script src="{{ asset('dep/AdminLTE/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/plugins/toastr/toastr.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/dist/js/adminlte.min.js') }}"></script>
<script src="{{ asset('dep/AdminLTE/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('dep/jQuery-Timepicker/dist/jquery-ui-timepicker-addon.min.js') }}"></script>
<script src="{{ asset('view/app/js/main.js') }}"></script>
<script src="{{ asset('dep/Pace/pace.min.js') }}"></script>
{{ include('layout/app/parts/appFlashMessages.html.twig') }}
{% block javascripts %}{% endblock %}

</body>
</html>
